.logo-white img {
    filter: brightness(100);
}

.blur {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.blur2 {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
}
