.rating-cont {
    display: flex;
    flex-direction: row;
    border: $grey solid 1px;
    border-radius: 8px;
    padding: 8px 0px 0px 8px;
}

.rating-pic img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    object-fit: cover;
    object-position: 10% 10%;
    background-color: $grey;
}

.rating-info {
    display: flex;
    flex-direction: column;
}

a [href*="intent"] {
    display: inline-block;
    margin-top: 0.4em;
}

.rating {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    overflow: hidden;
        justify-content: flex-end;

    input {
        float: right;
        opacity: 0;
        position: absolute;
    }

    a{
        float: right;
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
    }

    label {
        float: right;
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
    }
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: $primary;
    cursor: pointer;
}


.rating2 {
    direction: rtl;
    a {
        float: none
    }
}