/*Variables globales*/
@import "varGlobal";

/* Tipografia */
@import "fonts";

/* Iconos */
@import "icons";

/* Etiquetado base */
@import "generals";

/* Colores de Fondos e imagenes de fondo */
@import "background";

/* Bordes */
@import "borders";

/* Lista */
@import "list";

/*cartas*/
@import "cards";

/*grid*/
@import "gridAndCards";

/* Rating */
@import "rating";

/* Botones */
@import "buttons";

/* Effects */
@import "effects";




/*Clases*/

.cont-in {
    display: flex;
    flex-wrap: wrap;
}

.contain-img {
    width: auto;
    height: 300px;
    object-fit: contain;
}

.logo-index {
    height:30px;
    width: auto;
}

/* hovers */

.push a:hover {
    background-color: $primary;
}

.nav-logo img:hover {
    color: #FF7A0B;
    transition: 0.3s;
    transform: scale(1.1);
}


